{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!--Footer-->
  <footer class="page-footer text-center text-md-left unique-color-dark pt-0">

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3 pt-4">

        <!--First column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="spacing font-weight-bold">
            <strong class="font-weight-bold">ООО «Инвест-Консалт»</strong>
          </h6>
          <hr class="hr-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <span>ИНН 5012089468</span>
            <br>
            <span>ОГРН 1155012003134</span>
          </p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="spacing font-weight-bold">
            <strong>Меню</strong>
          </h6>
          <hr class="hr-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
              <a href="{% url 'index' %}"><span>Финансовая модель</span></a>
          </p>
          <p>
              <a href="#money"><span>Время и деньги</span></a>
          </p>
            <p>
              <a href="#free"><span>Бесплатные модели</span></a>
          </p>
          <p>
              <a href="#expirience"><span>Наш опыт</span></a>
          </p>
          <p>
              <a href="#services"><span>Сопутствующие услуги</span></a>
          </p>
            <p>
                <a href="#contact"><span>Форма связи</span></a>
          </p>
        </div>
        <!--/.Second column-->


        <!--Fourth column-->
        <div class="col-md-5 col-lg-3 col-xl-3">
          <h6 class="spacing font-weight-bold">
            <strong class="font-weight-bold">Контакты</strong>
          </h6>
          <hr class="hr-light accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
              <i class="fas fa-home mr-3"></i>
            <span>143986, Московская Область,</span>
            <p><span>г. о. Балашиха, мкр. Железнодорожный,</span></p>
            <p><span>ул. Юбилейная, д. 26, п. 4</span></p>
        </p>
          <!--
            <p>
              <i class="fas fa-envelope mr-3"></i> <span>info@inv-c.ru</span></p>
          <p> -->
              <i class="fas fa-phone mr-3"></i> <span>+7 (495) 128 78 23</span></p>
          <p>
              <i class="fab fa-whatsapp mr-3"></i> <span>+7 (903) 734 87 37</span></p>
        </div>
        <!--/.Fourth column-->

      </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center wow fadeIn" data-wow-delay="0.3s">
      <div class="container-fluid">
        © 2022 Ревенант <a href="https://revenant-it.ru" target="_blank"> </a>
      </div>
    </div>
    <!-- Copyright -->

  </footer>
  <!--/.Footer-->

{% endblock %}