{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <!-- Navigation & Intro -->
  <header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'img/invest_consalt.webp' %}" height="35" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto smooth-scroll ml-auto">
              <li class="nav-item">
                  <a class="nav-link title" href="#home" data-offset="90"><strong>Финансовые модели</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link title" href="#money" data-offset="90"><strong>Время и деньги</strong></a>
            </li>
              <li class="nav-item">
                  <a class="nav-link title" href="#free" data-offset="90"><strong>Бесплатные модели</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link title" href="#expirience" data-offset="90"><strong>Наш опыт</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link title" href="#services" data-offset="90"><strong>Сопутствующие услуги</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link title" href="#contact" data-offset="90"><strong>Контакты</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% for message in messages %}
        <section class="pt-4 mt-5">
            <div class="container bg-info text-center py-2 my-2">
                <span class="pt-2 my-2"><strong class="text-white font-weight-bold">{{ message }}</strong></span>
            </div>
        </section>
    {% endfor %}
    <section id="home" class="pt-3 pb-2"
      style="background-image: url('{% static 'img/header_background_2.webp' %}');">
        <div class="container h-75 d-flex justify-content-center align-items-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-12 col-lg-6 text-center text-md-left text-mdleft margins">
              <div class="dark-grey-text">
                  <div class="text-center py-2 my-2">
                    <span class="py-2 my-2"><strong class="font-weight-bold">ФИНАНСОВЫЕ МОДЕЛИ</strong></span>
                  </div>
                <hr class="hr-light wow fadeIn" data-wow-delay="0.3s">
                <ul class="list-unstyled">
                    <li class="align-items-start text-left pl-1">
                        <img class="float-left" src="{% static 'img/checkout.webp' %}" width="20px" />
                        <span class="ml-1"> Оценка финансовых перспектив бизнеса и выбор стратегии развития</span>
                    </li>
                    <li class="align-items-start text-left pl-1">
                        <img class="float-left" src="{% static 'img/checkout.webp' %}" width="20px" />
                        <span class="ml-1"> Получение финансирования от венчурных фондов, клубов бизнес-ангелов, частных инвесторов</span>
                    </li>
                    <li class="align-items-start text-left pl-1">
                        <img class="float-left" src="{% static 'img/checkout.webp' %}" width="20px" />
                        <span class="ml-1"> Получение инвестиционного кредита в банке</span>
                    </li>
                    <li class="align-items-start text-left pl-1">
                        <img class="float-left" src="{% static 'img/checkout.webp' %}" width="20px" />
                        <span class="ml-1"> Получение государственных субсидий на развитие бизнеса</span>
                    </li>
                </ul>
              </div>
            </div>

            <div class="col-md-12 col-lg-6 wow fadeIn" data-wow-delay="0.3s">
              <img src="{% static 'img/grafic_2.webp' %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <hr class="mt-5 text-dark">
          <div class="container text-center mt-3">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Получить консультацию</a>
              </div>
          </div>
    </section>

  </header>
  <!-- Navigation & Intro -->

{% endblock %}