{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    {% include '_header.html' %}

  <!-- Main content -->
  <main>

    <div class="container">
    <hr class="text-dark">
      <!-- Section: About -->
      <section id="about" class="about mt-1 mb-5 wow fadeIn" data-wow-delay="0.2s">

          <div class="container justify-content-center align-items-center">
            <!-- Secion heading -->
            <h4  class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text" data-wow-delay="0.3s"">
              <strong>Наши финансовые модели</strong>
            </h4>

            <ul class="list-unstyled">
                <li class="align-items-start text-left grey-background">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> соответствуют международным стандартам</span>
                </li>
                <li class="align-items-start text-left mt-1 grey-background">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> одобрены банками</span>
                </li>
                <li class="align-items-start text-left mt-1 grey-background">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> приняты госорганами</span>
                </li>
                <li class="align-items-start text-left mt-1 grey-background">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> одобрены инвесторами</span>
                </li>
            </ul>

          </div>


      </section>
      <!-- Section: About -->

      <hr>

      <!-- Section: Features v.4 -->
      <section id="features" class="mb-5 pb-4">

        <!-- Section heading -->
        <h4   class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text text-center" data-wow-delay="0.3s"">
          <strong>Финансовая модель включает несколько разделов</strong>
        </h4>

        <!-- Section sescription -->
        <ul class="list-unstyled">
            <li class="align-items-start text-left grey-background">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Предпосылки (допущения) Вся входящая информация, на основании которой рассчитываются будущие доходы и расходы</span>
            </li>
            <li class="align-items-start text-left mt-1 grey-background">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Финансовые и технические расчёты Например, на основании мощности оборудования и его нагрузки рассчитываются затраты на электричество</span>
            </li>
            <li class="align-items-start text-left mt-1 grey-background">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Финансовая отчетность Отчёт о движении денежных средств/Cash Flow, отчёт о прибылях и убытках/P&L и баланс/Balance Sheet</span>
            </li>
        </ul>

            <!-- First column -->
            <div class="container-fluid mt-3">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 1</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>

          <ul class="list-unstyled mt-3">
            <li class="align-items-start text-left grey-background">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Итоги
                                    <p>На первом листе модели/Dashboard выводятся
                                    все значимые показатели проекта: NPVдисконтированный денежный поток, IRRвнутренняя ставка доходности, данные unit
                                    экономики, метрики, характерные для
                                    конкретной отрасли и отдельной компании.
                                    Изменение показателей при различных
                                    сценариях развития событий. Графики, дающие
                                    наглядное представление о перспективах жизни
                                        проекта.</p>
                </span>
            </li>
        </ul>
            <!-- /First column -->
          <div class="container-fluid mt-3">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 1</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>

          <hr class="mt-5 text-dark">
          <div class="container text-center mt-3">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Заказать модель</a>
              </div>
          </div>


      </section>
      <!-- Section: Features v.4 -->

    </div>

    <div class="container-fluid light-grey-background">
      <div class="container py-4">

        <!--Section: Services-->
        <section id="services" class="mt-3 mb-3 pb-3">

          <!-- Section heading -->
          <h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
            <strong>Как это работает </strong>
          </h3>

          <!-- First row -->
          <div class="row wow fadeIn" data-wow-delay="0.4s">

            <!-- First column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 1</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /First column -->

            <!-- Second column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 2</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Second column -->

            <!-- Third column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 3</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Third column -->

            <!-- Fourth column -->
            <div class="col-md-6 mb-4 text-center">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                <p class="font-weight-bold title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                  <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                  <strong>План 4</strong>
                </p>
                <p class="grey-text font-small mx-4">Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                  nesciunt sapiente earu
                  proident. Ad vegan excepteur butcher vice lomo leggings.
                  <p class="font-small font-weight-bold orange-text mx-4 mb-0">
                    <a>read more</a>
                  </p>
                </p>
              </div>
              <!--/.Panel-->

            </div>
            <!-- /.Fourth column -->

          </div>
          <!-- /.First row -->

        </section>
        <!--/Section: Services-->

      </div>
    </div>
    <!--Second container-->

    <div class="container">

      <hr class="mt-5">

      <!-- Section: Contact v.2 -->
      <section id="contact" class="mb-5">

        <!-- Section heading -->
        <h3 class="text-center title my-5 py-4 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
          <strong>Связаться с нами</strong>
        </h3>

          <!-- Grid column -->
          <div class="container">
            <form>
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form">
                    <div class="md-form">
                      <input type="text" id="form41" class="form-control">
                      <label for="form41" class="">Ваше имя</label>
                    </div>
                  </div>
                </div>

                <!-- Grid column -->
                <div class="col-md-6">
                  <div class="md-form">
                    <div class="md-form">
                      <input type="text" id="form52" class="form-control">
                      <label for="form52" class="">Ваша почта</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <input type="text" id="form51" class="form-control">
                    <label for="form51" class="">Тема</label>
                  </div>
                </div>
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-12">

                  <div class="md-form">
                    <textarea type="text" id="form76" class="md-textarea form-control" rows="3"></textarea>
                    <label for="form76">Ваше сообщение</label>
                  </div>

                </div>
              </div>
              <!-- Grid row -->
            </form>

            <div class="text-center text-md-left mb-5 mt-4">
              <a class="btn btn-rounded btn-white font-weight-bold">Отправить</a>
            </div>
          </div>
          <!-- Grid column -->
      </section>
      <!-- Section: Contact v.2 -->

    </div>

  </main>
  <!-- Main content -->

    {% include '_footer.html' %}

{% endblock %}