{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block content %}

    {% include '_header.html' %}

  <!-- Main content -->
  <main>

    <div class="container">
    <hr class="text-dark">
      <!-- Section: About -->
      <section id="model" class="mb-3 pb-4">

            <h4  class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text text-center">
              <strong>Наши финансовые модели</strong>
            </h4>

            <ul class="list-unstyled mt-3">
                <li class="align-items-start text-left bg-light mb-4 py-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> соответствуют международным стандартам</span>
                </li>
                <li class="align-items-start text-left bg-light mb-4 py-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> одобрены банками</span>
                </li>
                <li class="align-items-start text-left bg-light mb-4 py-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> приняты госорганами</span>
                </li>
                <li class="align-items-start text-left bg-light mb-2 py-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> одобрены инвесторами</span>
                </li>
            </ul>

      </section>
      <!-- Section: About -->

      <hr>

      <!-- Section: Features v.4 -->
      <section class="mb-2 pb-2">

        <!-- Section heading -->
        <h4   class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text text-center" data-wow-delay="0.3s"">
          <strong>Финансовая модель включает несколько разделов</strong>
        </h4>

        <!-- Section sescription -->
        <ul class="list-unstyled">
            <li class="align-items-start text-left grey-background mb-3">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Предпосылки (допущения) Вся входящая информация, на основании которой рассчитываются будущие доходы и расходы</span>
            </li>
            <li class="align-items-start text-left mt-3 grey-background mb-3">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Финансовые и технические расчёты Например, на основании мощности оборудования и его нагрузки рассчитываются затраты на электричество</span>
            </li>
            <li class="align-items-start text-left mt-3 grey-background mb-2">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Финансовая отчетность Отчёт о движении денежных средств/Cash Flow, отчёт о прибылях и убытках/P&L и баланс/Balance Sheet</span>
            </li>
        </ul>

            <!-- First column -->
            <div class="container-fluide mt-5">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                  <a href="#" data-toggle="modal" data-target="#xls"><img class="img-fluid" src="{% static 'img/xls_3.gif'%}" /></a>
              </div>
              <!--/.Panel-->

            </div>

          <ul class="list-unstyled mt-3 py-3">
            <li class="align-items-start text-left grey-background">
                <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                <span class="ml-1"> Итоги
                                    <p>На первом листе модели/Dashboard выводятся
                                        все значимые показатели проекта: NPVдисконтированный денежный поток,
                                        IRRвнутренняя ставка доходности, данные unit
                                        экономики, метрики, характерные для
                                        конкретной отрасли и отдельной компании.
                                        Изменение показателей при различных сценариях развития событий. Графики, дающие
                                        наглядное представление о перспективах жизни проекта.</p>
                </span>
            </li>
        </ul>
            <!-- /First column -->
          <div class="container-fluide mt-3">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                  <a href="#" data-toggle="modal" data-target="#grafic"><img class="img-fluid" src="{% static 'img/dashboard.webp'%}" /></a>
              </div>
              <!--/.Panel-->

            </div>

          <hr class="mt-5 text-dark">
          <div class="container text-center mt-3">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Заказать модель</a>
              </div>
          </div>
          <hr class="text-dark">
          <div class="container text-center bg-light pt-2 mt-3">
              <h5 class="mt-3">Среднее время на подготовку финансовой  модели – 7 дней</h5>
              <h5 class="mt-2 mb-2">Цена – от 50 т.р.</h5>
              <h5>Особые цены для стартапов, создающих инновационные продукты. Мы поддерживаем людей, несущих новое в нашу жизнь.</h5>
          </div>

          <div class="container text-center mt-1">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Узнать точную цену</a>
              </div>
          </div>
          <hr class="text-dark">
      </section>
     <section  id="projects" class="mt-2 pt-2 pb-3 mb-3">
         <h4  class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text text-center">
            <strong>На клиенты</strong>
         </h4>
         <p class="text-center">Некоторые компании, для которых наши  специалисты создали финансовые модели и  оказали услуги в области управленческого  консалтинга</p>
        <div class="row pt-1 mt-3">
            {% for Project in projects %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card py-2 my-2">
                    <div class="card-body">
                        <img class="img-fluid" src="{{ Project.image.url }}" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     </section>
     <hr class="text-dark ">
      <section id="services" class="mb-3 pb-4">

            <h4  class="title mt-md-3 mt-md-3 font-weight-bold dark-grey-text text-center">
              <strong>Сопутствующие услуги</strong>
            </h4>

            <ul class="list-unstyled mt-3">
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> Бизнес-план</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> Презентация</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> Инвестиционный меморандум</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2">
                    <img class="float-left" src="{% static 'img/checkout.webp' %}" width="25px" />
                    <span class="ml-1"> Защита проекта перед банками, инвесторами, госорганами</span>
                </li>
            </ul>

          <p class="text-center pt-2 mt-1 pb-2 ">
              Максимальное удовлетворение от своей работы
            мы получаем именно тогда, когда видим, как
            проекты оживают. Совершенно особенное чувство
            – знать, посещать в реальной жизни то, что совсем
            недавно было только идеей.
          </p>

      </section>

    </div>

    <div class="container">

      <hr class="mt-3">

      <!-- Section: Contact v.2 -->
      <section id="contact" class="mb-5">

        <!-- Section heading -->
        <h3 class="text-center title my-5 py-4 text-dark font-weight-bold wow fadeIn" data-wow-delay="0.2s">
          <strong>Связаться с нами</strong>
        </h3>

          <!-- Grid column -->
          <div class="container">
            <form method="POST">
                {% csrf_token %}
                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">
                      <div class="md-form">
                        <div class="md-form">
                          {% crispy_field form.customer 'id' 'form-contact-name' 'class' 'form-control' %}
                          <label for="form-contact-name" class="">Ваше имя</label>
                        </div>
                      </div>
                    </div>

                    <!-- Grid column -->
                    <div class="col-md-12">
                      <div class="md-form">
                        <div class="md-form">
                          {% crispy_field form.email 'id' 'form-contact-email' 'class' 'form-control' %}
                          <label for="form-contact-email" class="">Ваша почта</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->

                    <!-- Grid row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="md-form">
                        {% crispy_field form.phone 'id' 'form-contact-phone' 'class' 'form-control' %}
                        <label for="form-contact-phone" class="">Телефон для связи</label>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->

                  <!-- Grid row -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="md-form">
                        {% crispy_field form.theme 'id' 'form-contact-theme' 'class' 'form-control' %}
                        <label for="form-contact-theme" class="">Тема</label>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->

                  <!-- Grid row -->
                  <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12">

                      <div class="md-form">
                        {% crispy_field form.text 'class' 'form-control md-textarea' %}
                        <label for="form-contact-message">Текст сообщения</label>
                      </div>

                    </div>
                  </div>
                  <!-- Grid row -->
                  <div class="text-center text-md-left mb-5 mt-4">
                     <button type="submit" class="btn btn-grey btn-lg font-weight-bold">Отправить</button>
                  </div>
            </form>

          </div>
          <!-- Grid column -->
      </section>
      <!-- Section: Contact v.2 -->

    </div>

  <div class="modal top fade" id="xls" tabindex="-1" aria-labelledby="Таблица" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/xls_3.gif' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm  btn-grey" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal top fade" id="grafic" tabindex="-1" aria-labelledby="Таблица" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/dashboard.webp' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm  btn-grey" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- Main content -->


    {% include '_footer.html' %}

{% endblock %}