{% extends "base.html" %}
{% load static %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}

{% block content %}

    {% include '_header.html' %}

  <!-- Main content -->
  <main>

    <div class="container">
    <hr class="text-dark">
      <!-- Section: About -->
      <section id="model" class="mb-3 pb-4">

          <div class="text-center py-2 my-2">
            <span class="text-center py-2 my-2"><strong class="font-weight-bold">Наши финансовые модели</strong></span>
          </div>

            <ul class="list-unstyled mt-3">
                <li class="align-items-start text-left bg-light mb-4 py-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> соответствуют международным стандартам</span>
                </li>
                <li class="align-items-start text-left bg-light mb-4 py-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> одобрены банками</span>
                </li>
                <li class="align-items-start text-left bg-light mb-4 py-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> приняты госорганами</span>
                </li>
                <li class="align-items-start text-left bg-light mb-2 py-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> одобрены инвесторами</span>
                </li>
            </ul>

      </section>
      <!-- Section: About -->

      <hr>

      <!-- Section: Features v.4 -->
      <section class="mb-2 pb-2">
        <div class="text-center py-2 my-2">
            <span class="text-center py-2 my-2"><strong class="font-weight-bold">Финансовая модель включает несколько разделов</strong></span>
        </div>

        <!-- Section sescription -->
        <ul class="list-unstyled">
            <li class="align-items-start text-left grey-background mb-3 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1"> Предпосылки (допущения) Вся входящая информация, на основании которой рассчитываются будущие доходы и расходы</span>
            </li>
            <li class="align-items-start text-left mt-3 grey-background mb-3 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1"> Финансовые и технические расчёты Например, на основании мощности оборудования и его нагрузки рассчитываются затраты на электричество</span>
            </li>
            <li class="align-items-start text-left mt-3 grey-background mb-2 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1"> Финансовая отчетность Отчёт о движении денежных средств/Cash Flow, отчёт о прибылях и убытках/P&L и баланс/Balance Sheet</span>
            </li>
        </ul>

            <!-- First column -->
            <div class="container-fluide mt-5">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                  <a href="#" data-toggle="modal" data-target="#xls">
                      <video style="width:100%; margin-top:1em;" poster="" autoplay="" loop="" muted="" playsinline="">
                        <source src="{% static 'img/xls.mp4' %}" type="video/mp4">
                      </video>
                  </a>
              </div>
              <!--/.Panel-->

            </div>

          <ul class="list-unstyled mt-3 py-3">
            <li class="align-items-start text-left grey-background pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1"> Итоги
                    <br>
                    <span>На первом листе модели/Dashboard выводятся
                                        все значимые показатели проекта: NPVдисконтированный денежный поток,
                                        IRRвнутренняя ставка доходности, данные unit
                                        экономики, метрики, характерные для
                                        конкретной отрасли и отдельной компании.
                                        Изменение показателей при различных сценариях развития событий. Графики, дающие
                                        наглядное представление о перспективах жизни проекта.</span>
                </span>
            </li>
        </ul>
            <!-- /First column -->
          <div class="container-fluide mt-3">

              <!--Panel-->
              <div class="card card-body text-left white hoverable">
                  <a href="#" data-toggle="modal" data-target="#grafic"><img class="img-fluid" src="{% static 'img/dashboard.webp'%}" /></a>
              </div>
              <!--/.Panel-->

            </div>

          <hr class="mt-5 text-dark">
          <div class="container text-center mt-3">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Заказать модель</a>
              </div>
          </div>
          <hr class="text-dark">
          <div id="money" class="container bg-light py-2 my-3 ">
              <span>Среднее время на подготовку финансовой  модели – 7 дней</span>
          </div>
          <div class="container bg-light py-2 my-3">
              <span>Цена – от 50 т.р.</span>
              <p><span>Особые цены для стартапов, создающих инновационные продукты. Мы поддерживаем людей, несущих новое в нашу жизнь.</span>
              </p>
          </div>

          <div class="container text-center mt-1">
              <div class="align-items-center">
                  <a href="#contact" class="btn btn-grey btn-lg">Узнать точную цену</a>
              </div>
          </div>
          <hr id="free" class="text-dark mb-5">

          <div class="container bg-light py-2 my-4">
              <span>Для микробизнеса мы создали шаблон финансовой модели, его можно скачать бесплатно.
                  Подходит для получения субсидий от центра занятости на открытие нового бизнеса и для получения кредита.</span>
          </div>

          <div class="text-center py-2 my-2">
            <span class="text-center py-2 my-2"><strong class="font-weight-bold">База финансовых моделей, которые можно скачать бесплатно</strong></span>
          </div>

        <!-- Section sescription -->
        <ul class="list-unstyled">
            <li class="align-items-start text-left mb-3 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1 text-decoration-underline"><a href="{% static 'img/Шаблон.xlsx' %}" style="text-decoration: underline"> Шаблон финансовой модели для микробизнеса </a>&nbsp;&nbsp;<a href="{% static 'img/Инструкция.docx' %}" style="text-decoration: underline">  Инструкция</a></span>
                <p>
                    <span>Можно использовать для получения субсидий от центра занятости на открытие нового бизнеса и для получения кредита в банке.
                    Эта финансовая модель подходит для салонов красоты, кофе-пойнт, кафе, пунктов выдачи заказов, гостевых домов и т.п.</span>
                </p>
            </li>
            <li class="align-items-start text-left mb-3 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1 text-decoration-underline"><a href="{% static 'img/Парикмахерская.xlsx' %}" style="text-decoration: underline"> Финансовая модель для парикмахерской </a></span>
                <p>
                    <span>Реальные цифры. Посмотрите на этот бизнес без иллюзий.</span>
                </p>
            </li>
            <li class="align-items-start text-left mb-3 pl-1">
                <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                <span class="ml-1 text-decoration-underline"><a href="{% static 'img/ТРЦ_1.xlsx' %}" style="text-decoration: underline"> Финансовая модель коммерческой недвижимости </a></span>
                <p>
                    <span>Этот вид инвестиций один из самых привлекательных сейчас. Ставки аренды по коммерческой недвижимости выше, чем по жилой, при этом высокая надежность –недвижимость только растет в цене. Но и здесь есть свои особенности.</span>
                </p>
            </li>
        </ul>
      </section>
    <hr class="text-dark">
     <section  id="expirience" class="mt-2 pt-2 pb-3 mb-3">
         <div class="text-center py-2 my-2">
            <span class="py-2 my-2"><strong class="font-weight-bold">Наш опыт</strong></span>
          </div>
         <span>Некоторые компании, для которых наши  специалисты создали финансовые модели и  оказали услуги в области управленческого  консалтинга</span>
        <div class="row pt-1 mt-3">
            {% for Project in projects %}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card py-2 my-2">
                    <div class="card-body">
                        <img class="img-fluid" src="{{ Project.image.url }}" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
     </section>
     <hr class="text-dark ">
      <section id="services" class="mb-3 pb-4">

            <div class="text-center py-2 my-2">
                <span class="text-center py-2 my-2"><strong class="font-weight-bold">Сопутствующие услуги</strong></span>
            </div>

            <ul class="list-unstyled mt-3">
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> Бизнес-план</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> Презентация</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> Инвестиционный меморандум</span>
                </li>
                <li class="align-items-start text-left bg-light py-3 mb-2 mt-2 pl-1">
                    <img class="float-left" src="{% static 'img/checkout.png' %}" width="20px" />
                    <span class="ml-1"> Защита проекта перед банками, инвесторами, госорганами</span>
                </li>
            </ul>

          <span class="text-center pt-2 mt-1 pb-2 ">
              Максимальное удовлетворение от своей работы
            мы получаем именно тогда, когда видим, как
            проекты оживают. Совершенно особенное чувство
            – знать, посещать в реальной жизни то, что совсем
            недавно было только идеей.
          </span>

      </section>

    </div>

    <div class="container">

      <hr class="mt-3">

        <section id="contact" class="mb-5">

            <!-- Section heading -->
            <div class="text-center py-2 my-2">
                <span class="text-center py-2 my-2"><strong class="font-weight-bold">Давайте обсудим Вашу задачу</strong></span>
            </div>

              <!-- Grid column -->
              <div class="container">

                <form method="POST">
                    {% csrf_token %}
                    <!-- Form with header -->
                    <div class="card wow fadeIn" data-wow-delay="0.3s">
                        <div class="card-body">
                      <!-- Body -->
                          <div class="md-form">
                            <i class="fas fa-user prefix dark-grey-text"></i>
                            {% crispy_field form.name 'class' 'form-control textInput required' 'placeholder' ' ' %}
                            <label for="orangeForm-name" class="active">Ваше имя <span class="sup text-danger">*</span></label>
                          </div>

                          <div class="md-form">
                            <i class="fas fa-envelope prefix dark-grey-text"></i>
                            {% crispy_field form.email 'class' 'form-control' 'placeholder' ' ' %}
                            <label for="orangeForm-email" class="active">Ваша почта</label>
                          </div>

                          <div class="md-form">
                              <i class="fas fa-phone prefix dark-grey-text"></i>
                            {% crispy_field form.phone 'class' 'form-control textInput' 'placeholder' ' ' %}
                            <label for="orangeForm-phone" class="active">Номер телефона</label>
                          </div>

                          <div class="md-form">
                            <i class="fas fa-envelope prefix dark-grey-text"></i>
                            {% crispy_field form.text 'class' 'form-control md-textarea' 'placeholder' ' ' %}
                            <label for="orangeForm-text" class="active">Сообщение</label>
                          </div>
                            <span class="sup text-danger">*</span><span class="font-small"> - обязательное поле</span>
                          <div class="text-center">
                            <button type="submit" class="btn btn-grey btn-lg font-weight-bold">Оправить</button>
                          </div>

                        </div>
                    </div>
                    <!-- Form with header -->
                </form>

              </div>
          <!-- Grid column -->
        </section>

    </div>

    <div class="modal top fade" id="xls" tabindex="-1" aria-labelledby="Таблица" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/xls_3.gif' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm  btn-grey" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal top fade" id="grafic" tabindex="-1" aria-labelledby="Таблица" aria-hidden="true" data-backdrop="true" data-keyboard="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close btn-danger" data-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body"><img class="img-fluid z-depth-2 rounded" src="{% static 'img/dashboard.webp' %}" /></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm  btn-grey" data-dismiss="modal">
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- Main content -->


    {% include '_footer.html' %}

{% endblock %}